# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Prueba2D.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\pcere\Prueba2D\.idea\.idea.Prueba2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
